.page {
    position: relative;
    background-color: aliceblue;
    padding: 10px;
    width: 1240px;
    height: 1760px;
}

.column ul {
    padding: 0px;
}
.column ul li {
    display: inline-block;
}
.column ul li div {
    display: inherit;
    width: 100%;
}
